ico_chart RCDATA "src\\View\\Assets\\analytics.png"
ico_cart RCDATA "src\\View\\Assets\\cart.png"
ico_home RCDATA "src\\View\\Assets\\home.png"
ico_money RCDATA "src\\View\\Assets\\money-bag.png"
ico_price RCDATA "src\\View\\Assets\\sale.png"
ico_scanner RCDATA "src\\View\\Assets\\scanner.png"
ico_star RCDATA "src\\View\\Assets\\star.png"
ico_barcode RCDATA "src\\View\\Assets\\barcode.png"
ico_calculator RCDATA "src\\View\\Assets\\calculator.png"
ico_box RCDATA "src\\View\\Assets\\ico_box.png"
ico_shopping RCDATA "src\\View\\Assets\\online-shopping.png"
ico_add RCDATA "src\\View\\Assets\\ico_add.png"
ico_down RCDATA "src\\View\\Assets\\ico_down.png"
ico_up RCDATA "src\\View\\Assets\\ico_up.png"
